.posts-list-large {
  &__post {
    max-width: 750px;
    width: 100%;

    img {
      max-height: 340px;
      object-fit: cover;
    }
  }
}

.posts-list-small {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    border: none;

    &__fixed {
        position: initial;
        max-width: 320px;
    }

    img {
        max-height: 140px;
    }
}

@media (min-width: 992px) {    
    .posts-list-small {
        margin-left: unset;
        margin-right: unset;

        &__fixed {
            position: fixed;
        }
    }
}

