.post {
    max-width: 750px;

    img {
        width: 100%; 
        max-height: 44vw;
    }

    p {
        font-size: 16px;
        line-height: 26.4px;
        margin-bottom: 16px;
    }

    h1 {
        font-size: 28.8px;
        line-height: 36.8px;
    }

    h2 {
        font-size: 24.8px;
        line-height: 35px;
        margin: 48px 0 16px;
    }

    &__subtext {
        color: #5b616e;
    }
}

@media (min-width: 768px) {
    .post {
        p {
            font-size: 18px;
            line-height: 29.7px;
            margin-bottom: 18px;
        }

        h1 {
            font-size: 32.4px;
            line-height: 41.4px;
        }
    
        h2 {
            font-size: 27.9px;
            line-height: 40px;
            margin: 54px 0 18px;
        }
    }
}

@media (min-width: 992px) {
    .post {
        img { 
            max-height: 24vw;
        }

        p {
            font-size: 20px;
            line-height: 33px;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 36px;
            line-height: 46px;
        }
    
        h2 {
            font-size: 31px;
            line-height: 44px;
            margin: 60px 0 20px;
        }
    }
}