.posts-list-large {
  &__post {
    max-width: 700px;

    img {
      max-height: 340px;
      object-fit: cover;
    }
  }
}

.posts-list-small {
    max-width: 320px;
    width: -webkit-fill-available;

    &__fixed {
        position: initial;
        max-width: 320px;
    }

    img {
        max-height: 160px;
    }
}

@media (min-width: 992px) {    
    .posts-list-small {
        &__fixed {
            position: fixed;
        }
    }
}

