// Utilities
@import "utilities/variables";

.posts-list-large {
  display: grid;
  grid-gap: $grid-gap;

  img {
    max-height: calc(#{$default-post-width} / #{$phi});
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: 460px) {
  .posts-list-large {
    grid-template-columns: repeat(1, $default-post-width);
  }
}

@media (min-width: 900px) {
  .posts-list-large {
    grid-template-columns: repeat(2, $default-post-width);
  }
}

.posts-list-small {
  min-width: $default-post-width;
  max-width: $default-post-width;

  &__fixed {
    position: initial;
    max-width: $default-post-width;
  }

  img {
    max-height: 92px;
    max-width: 112px;
  }
}

@media (min-width: 992px) {
  .posts-list-small {
    &__fixed {
      position: fixed;
    }
  }
}
