@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f9fd;
}

a {
  text-decoration: none;
  color: initial;
}

b,
strong,
th,
button {
  font-weight: 500 !important;
}

main {
  column-gap: 64px;
  padding-top: 111px;
}

.fs-7 {
  font-size: 14px !important;
}

.bg-cyan {
  background-color: #a8d0e6;
  color: #fff;
}

.btn {
  padding: 10px 16px !important;
  letter-spacing: 0.4px;
  font-weight: 500;
}

.theme-btn-light {
  color: #f76c6c;
  background-color: #fff;
  border-color: #f76c6c;
}

.theme-btn-light:hover {
  background-color: #fef2f2;
  color: #f76c6c;
}

.theme-btn {
  color: #fff;
  background-color: #f76c6c;
  border-color: #f76c6c;
}

.theme-btn:hover {
    color: #fff;
  background-color: #f65959;
  border-color: #f65959;
}

.object-fit-cover {
  object-fit: cover;
}

.full-width {
  width: 100%;
}

.column-wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;

  & > div {
    width: 100%;
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  main {
    display: flex;
  }

  .column-wrapper {
    max-width: 980px;
    margin-right: initial;
    margin-bottom: 16px;
    margin-left: initial;
  }
}

@media (min-width: 1260px) {
  .column-wrapper > div {
    width: 48.3%;
  }
}
