@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #F7F9FD;
}

a {
    text-decoration: none;
    color: initial;
}

b, strong, th {
    font-weight: 500;
}

main {
    column-gap: 24px;
    padding-top: 103px;
    display: block;
}

.fs-7 {
    font-size: 14px !important;
}

.fw-bold {
    font-weight: 500 !important;
}

.bg-yellow {
    background-color: #FFCE43;
}

button {
    font-weight: 500;
}

.btn {
    padding: 10px 16px !important;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.btn-light {
    color: #1a73e8;
    background-color: #fff;
    border: none !important;
}

.btn-light:hover {
    border-color: #1a73e8;
    background-color: #f4f8fe;
    color: #1a73e8;
}

.btn-dark {
    color: #fff;
    background-color: #1a73e8;
    border-color: #1a73e8;
}

.btn-dark:hover {
    background-color: #185abc;
    border-color: #185abc;
}

.input-group-text {
    background-color: #fff;
}

.object-fit-cover {
    object-fit: cover;
}

.column-wrapper {
    width: 100%;
    max-width: 750px;
    margin: auto auto 42px auto;

    &__left, &__right {
        width: 100%;
        margin-bottom: 16px;
    }
}

@media (min-width: 992px) {
    main {
        display: flex;
    }

    .column-wrapper {
        width: 64%;
        max-width: 980px;
        margin: unset;
        margin-bottom: 16px;

        &__left {
            float: left;
            margin-right: 8px;
        }

        &__right {
            float: right;
            margin-left: 8px;
        }
    }
}

@media (min-width: 1400px) {
    .column-wrapper {
        width: 72%;

        &__left, &__right {
            width: 481.4px;
        }
    }
}
