@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

input:-webkit-autofill {
  -webkit-background-clip: text;
}

body {
  /* font-family: "Nunito Sans", sans-serif; */
  /* font-family: "Karla", sans-serif; */
  /* font-family: "Mulish", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Lora", serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 17.2px;
  /* font-size: 18px; */
  line-height: 35px;
  /* line-height: 31px; */
  color: #2b2b2b;
  background-color: #EBF8FC;
  
}

b {
  font-weight: 500;
}
