@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

input:-webkit-autofill {
  -webkit-background-clip: text;
}

body {
  /* font-family: "Mulish", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 17.2px;
  line-height: 35px;
  color: #333333;
}

b {
  font-weight: 600;
}

@keyframes horizontalBounce {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(5px); }
}
