@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
    font-family: "Poppins", sans-serif;
}

.box-shadow-custom {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

header {
    position: relative;
    z-index: 10;
}

main {
    background-color: #f7f7f7;
    height: 100vh;
    column-gap: 3rem;
}

button {
    padding: 12px 20px !important;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 23px;
}

.btn-light {
    color: #1a73e8;
    background-color: #fff;
    border-color: #dadce0;  
}

.btn-dark {
    color: #fff;
    background-color: #1a73e8;
    border-color: #1a73e8;
}

.input-group-text {
    background-color: #fff;
}

.bmi-table {
    max-width: 314px;
}

.bmi-calculator {
    max-width: 314px;
}