@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
    height: 100%;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    color: initial;
}

b, strong, th {
    font-weight: 500;
}

.box-shadow-custom {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

header {
    position: relative;
    z-index: 10;
}

main {
    column-gap: 24px;
    padding-top: 24px;
}

@media (min-width: 992px) {
    main {
        column-gap: 48px;
        padding-top: 48px;
    }
}

.bg-yellow {
    background-color: #EFC345;
}

button {
    padding: 10px 16px !important;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 23px;
}

.btn-light {
    color: #1a73e8;
    background-color: #fff;
    border-color: #dadce0;  
}

.btn-light:hover {
    border-color: #1a73e8;
    background-color: #f4f8fe;
    color: #1a73e8;
}

.btn-dark {
    color: #fff;
    background-color: #1a73e8;
    border-color: #1a73e8;
}

.btn-dark:hover {
    background-color: #185abc;
    border-color: #185abc;
}

.btn-transparent {
    color: #185abc;
    border: none;
    background: #fff;
    padding: 0 !important;
}

.input-group-text {
    background-color: #fff;
}

.bmi-calculator {
    max-width: 440px;
}

.bmi-table {
    max-width: 440px;
}

.blog-thumbnail img {
    object-fit: cover;
}