@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    color: initial;
}

b, strong, th {
    font-weight: 500;
}

header {
    position: relative;
    z-index: 10;
}

main {
    column-gap: 40px;
    padding-top: 40px;
    display: block;
}

.fs-7 {
    font-size: 14px;
}

.fw-bold {
    font-weight: 500 !important;
}

button {
    padding: 10px 16px !important;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.btn-light {
    color: #1a73e8;
    background-color: #fff;
    border: none !important;
}

.btn-light:hover {
    border-color: #1a73e8;
    background-color: #f4f8fe;
    color: #1a73e8;
}

.btn-dark {
    color: #fff;
    background-color: #1a73e8;
    border-color: #1a73e8;
}

.btn-dark:hover {
    background-color: #185abc;
    border-color: #185abc;
}

.input-group-text {
    background-color: #fff;
}

.bmi-wrapper {
    width: 100%;
    max-width: 500px;
    margin: auto auto 42px auto;
}

.blog-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    border: none;
}

.bmi-calculator {
    width: 100%;
    margin-bottom: 20px;
}

.bmi-table {
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    main {
        display: flex;
    }

    .bmi-wrapper {
        width: 74%;
        max-width: 1020px;
        margin: unset;
    }

    .bmi-calculator {
        width: 500px;
        float: left;
        margin-right: 10px;
    }

    .bmi-table {
        width: 500px;
        float: right;
        margin-left: 10px;
    }

    .bmi-text-result {
        float: right;
    }
    
    .blog-wrapper {
        width: 26%;
        margin-left: unset;
        margin-right: unset;
        padding-left: 40px;
        max-width: 420px;
        border-left: 1px solid #dee2e6 !important;
    }
}


.blog-thumbnail img {
    object-fit: cover;
}